    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
            <p class="lead">Hi, my name is Jorge Espinoza, I solve problems using math, code and data. I have an academic and professional background in mechatronics engineering, physics, data science and artificial intelligence. I also love math.
            I am in a constant exploration of new skills and ideas.</p>
            </div>
        <div class="col-lg-4 mr-auto">
            <p class="lead">Have you ever read a book or watched a movie and you couldn't wait to tell your friends about it?, well, I feel that way almost everyday so I write about science, technology and pretty much any idea I find worth spreading. Sometimes I make tutorials you may find useful.</p>
        </div>
        </div>
<!--         <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fas fa-download mr-2"></i>
                Download Now!
            </a>
        </div> -->
        </div>
    </section>