    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
              <img class="img-fluid mb-5 d-block mx-auto" src="img/face.png" alt="">
              <!-- <h1 class="text-uppercase mb-0">{{ site.title }}</h1> -->
              <hr class="star-light">
              <h2 class="font-weight-light mb-0">{{ site.skills }}</h2>
              <br>
              <a href="https://www.linkedin.com/in/jorge-espinoza-abud/"><button class="btn btn-outline-light btn-linked-in text-center"><i class="fab fa-fw fa-linkedin-in"></i> Linkedin</button></a>
              <a href="https://medium.com/@jorgee.abud"><button class="btn btn-outline-light btn-medium text-center"><i class="fab fa-fw fa-medium"></i> Medium</button></a>
              <a href="https://www.youtube.com/channel/UCwas1KORUMPptD5WEMbIhow"><button class="btn btn-outline-light btn-youtube text-center"><i class="fab fa-fw fa-youtube"></i> Youtube</button></a>
              <a href="https://github.com/jfreek"><button class="btn btn-outline-light btn-github text-center"><i class="fab fa-fw fa-github"></i> Github</button></a>
              <a href="https://www.instagram.com/jorgeabud_"><button class="btn btn-outline-light btn-instagram text-center"><i class="fab fa-fw fa-instagram"></i> Instagram</button></a>
        </div>
    </header>