    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="skills">
        <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">What I Do</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            {% for post in site.posts %}
                <div class="col-md-6 col-lg-4">
                    <a href="#skills-modal-{{ post.modal-id }}" class="portfolio-item d-block mx-auto">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.img }}" class="img-fluid" alt="{{ post.alt }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
