:root {
  --color-blue: #3db1cb;
  --color-green: #64aa6e;
  --color-red: #a5255a;
  --color-purple: #8232dc;
  --color-background: #151515;
  --color-text: #ffffff;
}

/* Dark mode overrides */
.dark-mode {
  --color-blue: #3db1cb;
  --color-green: #4c8354;
  --color-red: rgba(165, 37, 69, .6);
  --color-purple: #8232dc;
  --color-background: #ffffff;
  --color-text: #151515;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
  background-color: var(--color-background);
  color: var(--color-background);
  z-index: 1;
}

header {
  /* background-color: rgba(0, 0, 0, .1); */
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%); */
  color:  var(--color-text);
  padding: 120px 0 60px;
  text-align: center !important;
  position: relative;
  z-index: 3;
}

#mesh-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

h1 {
  font-weight: 600 !important;
  font-size: 50px !important;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 1.6;
  letter-spacing: 1px;
  z-index: 3;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  line-height: 1.9;
  text-shadow: var(--color-blue) 0px 0px 2px;
  z-index: 3;
}

p {
  z-index: 3;
}

a:hover {
  text-decoration: underline;
  color: var(--color-red);
  text-shadow: var(--color-red) 0px 0px 5px;
}

strong {
  font-weight: 600;
  font-weight: bolder;
  font-size: 20px !important;
}

footer {
  position: absolute;
  color: var(--color-text);
  text-align: left;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.abstract {
  text-shadow:  #ffffff 0px 0px 10px;
}

.socials {
  font-weight: 400;
  color: var(--color-text);
}

::selection {
  background: var(--color-red);
  color: var(--color-text);
}

/* Botón de cambio de tema */
#theme-toggle {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-text);
  transition: color 0.3s;
  bottom: 20px;
  right: 50px;
}